<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    
    <%- include('nav.ejs') %>

    <div class="white-bg">

        <% function formatDateTime(isoString) { 
            let date = new Date(isoString);
            let year = date.getFullYear();
            let month = ('0' + (date.getMonth() + 1)).slice(-2);
            let day = ('0' + date.getDate()).slice(-2);
            let hours = ('0' + date.getHours()).slice(-2);
            let minutes = ('0' + date.getMinutes()).slice(-2);
            return `${year}-${month}-${day} ${hours}:${minutes}`;
        } %>

        <% for(let i = 0; i < post.length; i++) { %>
            <div class="list-box">
                <h4>
                    <a href="/detail/<%= post[i]._id %>">
                        <%= post[i].title %>
                    </a>
                </h4>

                <p>
                    신청기간 : <%= formatDateTime(post[i].applicationStartTime) %> ~ <%= formatDateTime(post[i].applicationEndTime) %>
                </p>
                <p>
                    강의시간 : <%= formatDateTime(post[i].lectureStartTime) %> ~ <%= formatDateTime(post[i].lectureEndTime) %>
                </p>
              </div>
        <% } %>
    </div> 
  
</body>
</html>